Préparation soutenance projet 4.docx

prep/

enlocalchess/

Étapes+Clés_Développez+un+programme+logiciel+en+Python_FR.pdf

Spécification+technique_Développez+un+programme+logiciel+en+Python.pdf

Mécanique générale.docx
